<mat-toolbar color="primary">
  <span>Simple phone number validator</span>
</mat-toolbar>

<div
  [ngClass]="{ 'example-container vvk1': lWidth > 450, vvk2: lWidth < 500 }"
  style="margin-top: 150px"
>
  <mat-form-field appearance="fill" style="margin-right: 15px; width: 140px">
    <mat-label>Country</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      (input)="filter_country($event)"
      [matAutocomplete]="auto"
      [(ngModel)]="calling_code"
      name="bb1"
    />

    <mat-hint style="color: red" *ngIf="error_country_code == true">
      Invalid country code !</mat-hint
    >

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of for_filter_list"
        [value]="'+' + option['callingCodes'][0]"
      >
        <img
          width="
        20px"
          [src]="option['flag']"
        />
        <small style="margin-left: 5px">{{ option["name"] }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field style="width: 300px" appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input
      matInput
      #input
      maxlength="10"
      [(ngModel)]="phone_number"
      name="kk1"
      placeholder="Ex. 99."
    />
    <mat-hint style="color: red" *ngIf="error_phone_number == true">
      Invalid phone number !</mat-hint
    >
  </mat-form-field>
</div>

<div style="margin-top: 27px; margin-left: 41%">
  <button
    mat-raised-button
    (click)="validate()"
    [color]="valid"
    style="width: 200px"
  >
    Verify
  </button>
</div>
