.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-success {
  background-color: green;
  color: #fff;
}
.vvk1 {
  margin-left: 25%;
}

.vvk2 {
  margin-left: 10px;
}
